body {
    background-image: url('Images/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: rgb(220, 218, 218);
    font-size: 70px;
    margin-bottom: 40px; 
    transform: translateY(-40px);
    text-shadow: 2px 2px 4px #000;
}

button {
    padding: 12px 24px;
    font-size: 14px;
    background-color: rgba(243, 245, 243, 0.9);
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #631491;
    color :rgb(220, 221, 222);
}
.nova-square-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
